<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">

    <title>Library</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/kendo.all.min.js"></script>
    <link rel="stylesheet" href="~/Content/kendo.common.min.css" />
    <link rel="stylesheet" href="~/Content/kendo.default.min.css" />
    <link rel="stylesheet" href="~/Content/kendo.default.mobile.min.css" />
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/justified-nav.css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid">

        <div id="navbar" class="navbar-collapse collapse" style="float: right">
            <form class="navbar-form navbar-right">
                @Html.Partial("_LoginPartial")
            </form>
        </div>

        <header class="masthead">
            <h3 class="text-muted">Library</h3>


            @if (Request.IsAuthenticated)
            {
                <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">

                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav text-md-center nav-justified w-100">

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    @Html.ActionLink("Administrator Panel", "AdminPanel", "Account")
                                </li>
                            }
                            <li class="nav-item active">
                                <a class="nav-link" href="/Publication/Index">All publications <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Books", "Index", "Book")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Magazines", "Index", "Magazine")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Brochures", "Index", "Brochure")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("PublicationHouses", "Index", "PublicationHouse")
                            </li>
                        </ul>
                    </div>

                </nav>
            }


        </header>

        <main role="main">
            @RenderBody()
        </main>

        <footer class="footer">
            <p>&copy; Company 2018</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script> 
</body>
</html>
